<% include ./header.ejs %>
<main class="mn-inner">
                <div class="col s12 m12 l12" ng-controller="postCtrl">
<div class="col s12 m12 l12" ng-repeat="post in posts">
                        <div class="card">
                            <div class="card-content">
                                <span class="card-title">Hover</span>
                                <div class="card hoverable small">
                                    <div class="card-image">
                                        <img ng-src="{{post.img}}" alt="">
                                        <span class="card-title">{{post.title}}</span>
                                    </div>
                                    <div class="card-content">
                                        <p>{{post.content_mini}}</p>
                                    </div>
                                    <div class="card-action">
                                        <button type="submit" class="btn red" ng-click="btn_del(post)" data="{{post._id}}">Xoá bài viết </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                                        </div>
            </main>
<% include ./footer.ejs %>